node{
  fill-color: blue;
  text-background-mode:rounded-box;
  text-color:black;
  text-background-color:white;
  text-padding:2px;
  text-style:bold;
  text-alignment:at-right;
}
node.default{
  fill-color: blue;
}
node.select{
	fill-color:green;
}
edge{
	fill-color:black;
}
edge.attack{
	fill-color:red;
}
edge.defend{
	fill-color:blue;
}

