node{
  fill-color: blue;
  text-style:bold;
  text-alignment:center;
}
node.default{
  fill-color: blue;
}
node.select{
	fill-color:green;
}
edge{
	shape: cubic-curve;
	fill-color:black;
}
edge.attack{
	fill-color:red;
}
edge.defend{
	fill-color:blue;
}

